/* Ensure imports are correctly placed */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home1 {
    background-image: url(images/home1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    position: relative;
    text-decoration: none;
    overflow-x: hidden;
}

.content {
    height: 100px;
    width: 100px;
}

.nav-bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    text-decoration: none;
    width: 100%;
}

.nav-name {
    display: flex;
    align-items: center;
}

.nav-bar-nameDev {
    color: #FED766;
    font-size: 40px;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.nav-bar-nameRaja {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-moreInfo {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.nav-moreInfo a {
    margin-left: 25px;
    color: #FEFEFE;
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.45s ease;
}

.nav-moreInfo a:hover {
    color: #FE4A49;
}

.home {
    color: white;
    padding: 100px 80px;
    font-family: "Ubuntu", sans-serif;
}

.htext1 {
    font-size: 30px;
    font-weight: 500;
}

.htext2 {
    font-size: 75px;
    font-weight: 700;
    margin-left: -4px;
}

.htext2-2 {
    font-size: 75px;
    color: #FED766;
}

.htext3 {
    font-size: 35px;
    font-weight: 600;
    color: #009FB7;
    margin-top: 5px;
}

.homeLink {
    display: flex;
    width: 500px;
    font-family: "Ubuntu", sans-serif;
    color: #FFF;
}

.homeLink a {
    margin: 20px 0 0 5px;
    padding: 12px 36px;
    height: 56px;
    font-size: 25px;
    font-weight: 500;
    width: 156px; /* Add px to the width value */
}

.github, .yt, .discord {
    background-color: #FE4A49;
    border-radius: 5px;
    transition: color 0.45s ease-in-out;
}

.discord:hover, .github:hover, .yt:hover {
    background-color: transparent;
    border: 2px solid #FE4A49;
    color: #009FB7;
    font-weight: 600;
}

.about {
    background-color: #E6E6EA;
    padding: 100px;
    text-align: center;
    position: relative; /* Change position to relative */
    left: 0;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
}

.title {
    font-family: "Ubuntu", sans-serif;
    margin: 0 0 60px;
    padding: 0 0 20px;
}

.tText1 {
    font-size: 40px;
}

.tText2 {
    color: #fe4a49;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.tText2 p {
    color: black;
}

.about-content {
    margin: 0 0 60px;
    padding: 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-img-img {
    height: 350px;
    width: 350px;
    border: 3px solid #FE4A49;
    border-radius: 6px;
    background-image: url(images/about-pfp.jpg);
    background-size: cover;
    flex-shrink: 0;
    border-radius: 50%;
}

.aboutText {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px;
}

p {
    display: inline-block;
    margin: 0;
}

.aboutText-text1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

.aboutText-text2 {
    text-align: justify;
    font-family: "Poppins", sans-serif;
    margin-right: 50px;
}

.lang {
    background-color: #0a0a0a;
    padding: 100px 0 0 0;
    text-align: center;
    position: relative; /* Ensure relative positioning */
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-x: hidden;
}

.lang-text {
    color: #FED766;
    font-size: 40px;
    font-weight: 560;
    font-family: "Ubuntu", sans-serif;
    padding: 0 0 20px;
    margin: 0 0 60px;
    text-align: center;
}

.lang1 {
    display: flex;
    padding: 30px 200px;
    height: auto;
}

.lang-css {
    height: 312px;
    width: 300px;
    padding: 0;
    background-color: #222222;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: white;
    transition: all 0.35s ease-in;
}

.css-text1 {
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    margin-top: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; /* Remove any outlines */
    border: none; /* Remove any borders */
}

.css-text2 {
    margin: 10px 6px 0 6px;
}

.lang-html {
    height: 335px;
    width: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: cneter;
    flex-direction: column;
    background-color: #222222;
    font-family: "Poppins", sans-serif;
    color: white;
    border-radius: 6px;
    margin: 0 0 0 100px;
    transition: all 0.35s ease-in
}

.html-text1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    margin-top: 5px;
}

.html-text2 {
    margin: 10px 6px 0 6px;
}

.lang-py {
    height: 312px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222222;
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0 0 0 100px;
    transition: all 0.35s ease-in
}

.py-text1 {
    font-size: 24px;
    margin-top: 5px;
}

.py-text2 {
    margin: 10px 6px 0 6px;
}

.thanks {
    font-size: 40px;
    color: #009FB7;
    margin: 60px 0 70px;
    font-family: "Lobster", sans-serif;
    display: inline-block;
}

.lang-css:hover , .lang-html:hover , .lang-py:hover {
    background-color: #C05746;
    cursor: pointer;
}

.thanks:hover {
    animation: 3s 1 alternate thanks;
    color: #FE4A49;
    cursor: pointer;
}

@keyframes thanks {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}